<a href="https://colab.research.google.com/github/sucheerarighthere/bsc_dpdm22/blob/main/Group%20Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)')

!pwd

/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)

In [ ]:
!ls

จ.เลย.xlsx  จ.นครพนม.xlsx  จ.สกลนคร.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [ ]:
import pandas as pd

# ความกด

## เลย

In [ ]:
pressure_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
pressure_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
pressure_lei['จังหวัด'] = 'เลย'

In [ ]:
pressure_lei['เดือน'] =pressure_lei['เดือน/ปี'].dt.month

In [ ]:
pressure_lei['ปี'] = pressure_lei['เดือน/ปี'].dt.year

In [ ]:
pres_lei = pressure_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## สกลนคร

In [ ]:
pressure_snk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
pressure_snk.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
pressure_snk['จังหวัด'] = 'สกลนคร'

In [ ]:
pressure_snk['เดือน'] = pressure_snk['เดือน/ปี'].dt.month

In [ ]:
pressure_snk['ปี'] = pressure_snk['เดือน/ปี'].dt.year

In [ ]:
pres_snk = pressure_snk[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_snk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,352201-หนองคาย จ.หนองคาย,10,2011,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,...,1011.36,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21
2,สกลนคร,352201-หนองคาย จ.หนองคาย,11,2011,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,...,1014.41,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-
3,สกลนคร,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,...,1014.07,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63

## นครพนม

In [ ]:
pressure_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
pressure_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
pressure_npm['จังหวัด'] = 'นครพนม'

In [ ]:
pressure_npm['เดือน'] = pressure_npm['เดือน/ปี'].dt.month

In [ ]:
pressure_npm['ปี'] = pressure_npm['เดือน/ปี'].dt.year

In [ ]:
pres_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,352201-หนองคาย จ.หนองคาย,10,2011,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
2,นครพนม,352201-หนองคาย จ.หนองคาย,11,2011,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
3,นครพนม,352201-หนองคาย จ.หนองคาย,12,2011,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73

## หนองคาย

In [ ]:
pressure_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
pressure_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
pressure_nki['จังหวัด'] = 'หนองคาย'

In [ ]:
pressure_nki['เดือน'] = pressure_nki['เดือน/ปี'].dt.month

In [ ]:
pressure_nki['ปี'] = pressure_nki['เดือน/ปี'].dt.year

In [ ]:
pres_nk = pressure_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,...,1011.17,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,...,1014.32,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,...,1013.91,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19

## ขอนแก่น

In [ ]:
pressure_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
pressure_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
pressure_kkn['จังหวัด'] = 'ขอนแก่น'

In [ ]:
pressure_kkn['เดือน'] = pressure_kkn['เดือน/ปี'].dt.month

In [ ]:
pressure_kkn['ปี'] = pressure_kkn['เดือน/ปี'].dt.year

In [ ]:
pres_kn = pressure_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_kn

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2011,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2011,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2012,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2012,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-
6,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2012,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
7,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2012,1012.67,1011.17,1010.47,1010.24,1010.43,1010.90,...,1008.60,1008.60,1010.51,1011.46,1010.77,1010.16,1010.18,1010.04,1009.54,-
8,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2012,1009.80,1010.17,1010.74,1010.72,1010.61,1012.15,...,1010.88,1014.53,1016.29,1013.54,1011.60,1010.58,1009.61,1009.9,1011.64,1014.86
9,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2013,1014.58,1013.30,1013.73,1012.89,1011.43,1011.80,...,1013.70,1013.16,1012.54,1012.09,1012.41,1013.80,1016.45,1015.31,1014.99,1015.58
10,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2013,1015.19,1013.97,1013.89,1013.91,1013.43,1011.11,...,1013.99,1015.38,1013.40,1011.79,1010.17,1007.95,1006.82,-,-,-
11,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2013,1007.15,1010.12,1009.88,1009.47,1008.08,1008.35,...,1012.93,1012.52,1012.21,1013.81,1014.58,1013.70,1013.78,1013.54,1012.81,1012.4
12,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2013,1011.98,1011.46,1012.38,1014.27,1013.73,1012.49,...,1011.68,1010.88,1010.65,1009.57,1009.86,1011.42,1014.45,1016.41,1015.26,-
13,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2013,1016.33,1016.26,1014.47,1013.72,1012.13,1012.41,...,1018.30,1016.96,1017.48,1017.28,1016.62,1017.87,1016.97,1016.84,1017.0,1017.5
14,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2014,1015.68,1013.34,1012.22,1013.22,1012.63,1011.37,...,1020.76,1018.49,1014.48,1012.48,1014.52,1015.37,1013.99,1014.53,1015.39,1014.49
15,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2014,1011.69,1008.58,1006.13,1005.61,1006.28,1006.33,...,1014.33,1013.56,1013.11,1012.19,1010.95,1011.90,1010.65,1017.86,1016.45,-
16,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2014,1010.85,1010.07,1008.86,1008.74,1009.45,1011.89,...,1012.54,1011.90,1011.71,1011.75,1012.54,1011.60,1010.97,1011.07,1010.28,1009.99
17,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2014,1009.82,1010.80,1012.60,1012.98,1013.05,1011.94,...,1012.35,1012.04,1011.58,1010.59,1009.18,1009.71,1009.71,1009.31,1008.11,-
18,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2014,1010.10,1011.37,1011.13,1012.84,1015.01,1013.72,...,1016.93,1016.09,1015.77,1014.03,1011.86,1012.67,1015.48,1016.54,1014.73,1015.75
19,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2015,1018.10,1018.43,1016.61,1013.04,1010.62,1010.23,...,1017.44,1014.58,1013.35,1013.90,1013.39,1011.88,1010.83,1012.02,1013.99,1016.1
20,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2015,1017.24,1017.93,1018.05,1016.92,1016.98,1017.54,...,1012.25,1012.47,1010.20,1008.99,1008.88,1009.33,1009.39,-,-,-
21,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2015,1011.22,1010.97,1010.41,1010.60,1010.96,1011.22,...,1010.32,1011.04,1012.27,1013.21,1013.10,1012.37,1013.38,1013.26,1013.24,1013.93
22,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2015,1014.97,1015.22,1014.31,1012.89,1010.98,1010.44,...,1011.73,1011.81,1011.37,1011.94,1013.02,1014.29,1015.72,1015.5,1014.26,-
23,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2015,1012.55,1012.12,1012.52,1012.37,1013.84,1015.29,...,1015.41,1014.23,1012.50,1012.83,1014.45,1016.48,1018.15,1017.3,1016.83,1018.79
24,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2016,1019.11,1017.96,1016.01,1014.81,1013.54,1014.17,...,1012.14,1014.31,1022.85,1024.58,1021.61,1018.09,1014.91,1012.85,1012.14,1010.96
25,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2016,1012.54,1015.56,1015.71,1014.56,1014.67,1018.76,...,1014.81,1013.14,1016.51,1020.20,1020.62,1019.59,1018.81,1018.79,1014.23,-
26,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2016,1008.89,1008.47,1007.18,1006.91,1006.73,1008.18,...,1007.17,1007.01,1007.45,1008.60,1010.82,1012.48,1011.16,1011.55,1012.69,1012.93
27,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2016,1012.79,1013.98,1014.58,1012.23,1009.86,1009.65,...,1008.34,1009.72,1010.14,1010.23,1010.87,1012.68,1014.55,1015.79,1016.13,-
28,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2016,1016.86,1016.16,1015.39,1014.32,1013.74,1015.07,...,1012.42,1012.91,1012.30,1012.25,1011.84,1013.72,1016.30,1017.37,1017.8,1016.77
29,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2017,1015.76,1014.10,1013.84,1012.96,1012.34,1010.60,...,1018.39,1018.28,1017.70,1017.96,1017.01,1016.06,1014.32,1012.96,1012.88,1013.95
30,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2017,1014.21,1015.26,1014.23,1011.67,1010.69,1009.80,...,1009.86,1010.00,1011.29,1012.89,1013.60,1014.51,1013.49,1016.69,1017.07,-
31,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2017,1009.04,1007.45,1007.44,1009.05,1010.15,1009.71,...,1010.01,1011.04,1014.10,1015.08,1013.71,1011.98,1012.53,1013.79,1015.2,1014.65
32,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2017,1013.68,1011.33,1012.00,1011.97,1013.19,1012.18,...,1011.44,1012.42,1015.12,1015.78,1014.90,1012.86,1012.40,1012.22,1011.47,-
33,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2017,1012.16,1012.63,1012.48,1012.26,1013.50,1012.88,...,1015.55,1012.10,1013.11,1014.21,1015.17,1014.80,1014.75,1014.72,1014.49,1015.22
34,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2018,1013.49,1012.55,1011.88,1010.84,1009.47,1008.59,...,1009.26,1008.89,1008.44,1008.10,1008.46,1008.72,1008.65,1009.56,1012.29,1013.5
35,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2018,1016.03,1016.00,1018.19,1017.67,1019.01,1018.11,...,1010.92,1013.25,1013.63,1011.51,1011.92,1011.70,1009.53,-,-,-
36,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2018,1010.47,1011.63,1011.63,1011.91,1012.22,1011.63,...,1012.39,1011.66,1012.16,1012.58,1013.42,1013.89,1013.66,1012.7,1012.71,1013.87
37,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2018,1013.50,1013.96,1014.10,1013.05,1012.12,1012.11,...,1013.10,1015.23,1014.18,1013.51,1013.95,1015.92,1015.71,1015.89,1014.52,-
38,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2018,1012.48,1011.29,1011.47,1011.69,1010.70,1009.97,...,1011.26,1012.47,1012.12,1011.17,1009.81,1009.58,1011.02,1014.95,1017.04,1019.08
39,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2019,1019.06,1018.25,1018.03,1016.94,1015.36,1014.87,...,1016.50,1015.52,1014.71,1015.12,1017.06,1017.11,1015.93,1014.39,1014.12,1014.12
40,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2019,1014.93,1013.13,1012.71,1012.92,1011.68,1009.89,...,1009.84,1008.36,1008.63,1009.36,1010.52,1009.81,1008.33,-,-,-
41,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2019,1009.73,1009.64,1009.30,1009.99,1010.62,1011.12,...,1008.59,1007.96,1009.48,1011.38,1011.52,1010.91,1010.81,1011.95,1012.02,1010.36
42,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2019,1010.27,1010.69,1011.01,1012.42,1010.78,1009.42,...,1014.05,1013.12,1012.68,1014.43,1013.98,1013.13,1014.15,1014.29,1013.6,1010.36
43,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2019,1012.81,1015.07,1017.05,1018.56,1019.41,1020.43,...,1011.74,1011.49,1011.94,1011.10,1011.34,1013.22,1014.32,1013.81,1014.76,1016.49
44,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2020,1017.80,1018.04,1016.21,1014.33,1013.76,1013.74,...,1013.68,1011.31,1010.53,1008.93,1008.84,1009.65,1011.14,1013.8,1015.25,1015.43
45,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2020,1014.57,1014.85,1013.17,1011.85,1012.19,1012.60,...,1019.41,1017.40,1014.74,1012.35,1012.54,1012.56,1011.53,1010.22,-,-
46,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2020,1005.67,1006.21,1007.56,1008.25,1008.60,1008.88,...,1010.60,1011.37,1011.84,1010.77,1010.94,1009.87,1007.73,1006.46,1011.34,1012.11
47,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2020,1012.18,1012.74,1013.72,1013.71,1013.32,1013.43,...,1011.91,1013.11,1012.99,1012.89,1013.69,1014.92,1015.28,1015.33,1015.85,-
48,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2020,1016.17,1014.73,1015.23,1016.08,1016.58,1016.28,...,1015.10,1012.58,1011.89,1012.57,1012.30,1010.83,1009.91,1009.95,1013.86,1018.27
49,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2021,1018.63,1017.35,1015.20,1015.49,1014.24,1012.99,...,1011.27,1011.15,1011.56,1011.04,1011.50,1011.67,1013.78,1015.66,1015.24,1014.93
50,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2021,1014.44,1014.14,1014.30,1015.04,1014.19,1013.19,...,1011.11,1010.08,1008.40,1006.24,1004.28,1005.45,1007.80,-,-,-
51,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2021,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,...,1013.04,1015.21,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96
52,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2021,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,...,1011.00,1013.18,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,-
53,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2021,1015.80,1017.00,1018.68,1018.13,1017.43,1016.91,...,1013.32,1012.63,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39
54,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1,2022,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,...,1010.49,1010.66,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91
55,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2,2022,1010.90,1012.02,1012.12,1013.77,1015.52,1014.63,...,1016.38,1017.55,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,-

# รวมตารางจังหวัด ความกด

In [ ]:
all_province = pd.concat([pres_lei, pres_snk, pres_npm, pres_nk, pres_kn])

In [ ]:
A = pd.melt(all_province,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความกด')

In [ ]:
A['วันที่'] = A['วันที่'].astype(int)

In [ ]:
A = A.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# ความชื้น

## เลย

In [ ]:
humidity_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
humidity_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_lei['จังหวัด'] = 'เลย'

In [ ]:
humidity_lei['เดือน'] =humidity_lei['เดือน/ปี'].dt.month

In [ ]:
humidity_lei['ปี'] = humidity_lei['เดือน/ปี'].dt.year

In [ ]:
hum_lei = humidity_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,10,2011,90,95,92,89,86,94,...,85,85,86,83,84,85,85,82,83,85
2,เลย,353301-เลย สกษ. จ.เลย,11,2011,85,83,84,83,83,85,...,84,73,77,80,81,80,84,82,79,-
3,เลย,353301-เลย สกษ. จ.เลย,12,2011,80,77,77,76,78,83,...,82,80,74,75,74,80,80,78,81,78

## สกลนคร

In [ ]:
humidity_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
humidity_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_skn['จังหวัด'] = 'สกลนคร'

In [ ]:
humidity_skn['เดือน'] =humidity_skn['เดือน/ปี'].dt.month

In [ ]:
humidity_skn['ปี'] = humidity_skn['เดือน/ปี'].dt.year

In [ ]:
hum_skn = humidity_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,87,88,77,75,87,86,...,70,74,73,73,72,72,70,74,73,72
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,71,71,71,72,73,70,...,72,68,66,71,71,70,70,69,69,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,66,61,64,67,70,73,...,68,69,65,64,62,69,69,69,69,68

In [ ]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_nki['จังหวัด'] = 'หนองคาย'

In [ ]:
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month

In [ ]:
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year

In [ ]:
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,89,91,78,75,90,88,...,71,76,73,68,71,70,71,70,66,68
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,68,66,66,67,68,69,...,63,60,64,65,67,68,69,71,69,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,67,62,66,66,65,68,...,66,65,56,61,58,67,71,70,67,68

## นครพนม

In [ ]:
humidity_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
humidity_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_npm['จังหวัด'] = 'นครพนม'

In [ ]:
humidity_npm['เดือน'] = humidity_npm['เดือน/ปี'].dt.month

In [ ]:
humidity_npm['ปี'] = humidity_npm['เดือน/ปี'].dt.year

In [ ]:
hum_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,352201-หนองคาย จ.หนองคาย,10,2011,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
2,นครพนม,352201-หนองคาย จ.หนองคาย,11,2011,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
3,นครพนม,352201-หนองคาย จ.หนองคาย,12,2011,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73

## หนองคาย

In [ ]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_nki['จังหวัด'] = 'หนองคาย'

In [ ]:
humidity_nki['เดือน'] =humidity_nki['เดือน/ปี'].dt.month

In [ ]:
humidity_nki['ปี'] = humidity_nki['เดือน/ปี'].dt.year

In [ ]:
hum_nk = humidity_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,89,91,78,75,90,88,...,71,76,73,68,71,70,71,70,66,68
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,68,66,66,67,68,69,...,63,60,64,65,67,68,69,71,69,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,67,62,66,66,65,68,...,66,65,56,61,58,67,71,70,67,68

## ขอนแก่น

In [ ]:
humidity_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
humidity_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [ ]:
humidity_kkn['จังหวัด'] = 'ขอนแก่น'

In [ ]:
humidity_kkn['เดือน'] = humidity_kkn['เดือน/ปี'].dt.month

In [ ]:
humidity_kkn['ปี'] =humidity_kkn['เดือน/ปี'].dt.year

In [ ]:
hum_kn = humidity_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
hum_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,83,92,86,80,86,86,...,73,73,72,73,69,69,75,71,71,68
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,71,65,68,65,65,68,...,69,65,66,65,67,68,67,67,65,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,66,61,61,62,61,60,...,64,63,62,60,60,62,65,66,63,64

# รวมตารางจังหวัด ความชื้น

In [ ]:
all_province_hum = pd.concat([hum_lei, hum_skn, hum_npm, hum_nk, hum_kn])

In [ ]:
B = pd.melt(all_province_hum,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความชื้น')

In [ ]:
B['วันที่'] = B['วันที่'].astype(int)

In [ ]:
B = B.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# ความเร็วลม

## เลย

In [ ]:
wind_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
wind_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_lei['จังหวัด'] = 'เลย'
wind_lei['เดือน'] =wind_lei['เดือน/ปี'].dt.month
wind_lei['ปี'] = wind_lei['เดือน/ปี'].dt.year
winds_lei = wind_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
winds_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,10,2011,2,2,3,2,3,2,...,1,1,1,2,2,1,2,2,2,1
2,เลย,353301-เลย สกษ. จ.เลย,11,2011,1,2,1,1,2,2,...,2,3,2,1,1,2,1,2,1,-
3,เลย,353301-เลย สกษ. จ.เลย,12,2011,2,2,3,2,1,2,...,2,1,2,3,2,1,2,1,2,2

## สกลนคร

In [ ]:
wind_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
wind_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_skn['จังหวัด'] = 'สกลนคร'
wind_skn['เดือน'] = wind_skn['เดือน/ปี'].dt.month
wind_skn['ปี'] = wind_skn['เดือน/ปี'].dt.year
winds_skn = wind_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
winds_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
2,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
3,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

## นครพนม

In [ ]:
wind_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
wind_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_npm['จังหวัด'] = 'นครพนม'
wind_npm['เดือน'] = wind_npm['เดือน/ปี'].dt.month
wind_npm['ปี'] = wind_npm['เดือน/ปี'].dt.year
winds_npm = wind_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
winds_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
2,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
3,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

## หนองคาย

In [ ]:
wind_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
wind_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_nki['จังหวัด'] = 'หนองคาย'
wind_nki['เดือน'] =wind_nki['เดือน/ปี'].dt.month
wind_nki['ปี'] = wind_nki['เดือน/ปี'].dt.year
winds_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
winds_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [ ]:
wind_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
wind_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
wind_kkn['จังหวัด'] = 'ขอนแก่น'
wind_kkn['เดือน'] = wind_kkn['เดือน/ปี'].dt.month
wind_kkn['ปี'] = wind_kkn['เดือน/ปี'].dt.year
winds_kn = wind_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
winds_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,3,2,3,2,2,3,...,3,2,3,5,5,5,4,6,4,5
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,4,5,3,3,5,2,...,5,7,6,5,5,3,1,3,3,-
3,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,3,4,4,4,4,4,...,4,5,6,7,6,5,4,4,6,5

# รวมตารางจังหวัด ความเร็วลม

In [ ]:
all_province_wind = pd.concat([winds_lei, winds_skn, winds_npm, winds_nk, winds_kn])

In [ ]:
C = pd.melt(all_province_wind,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความเร็วลม')

In [ ]:
C['วันที่'] = C['วันที่'].astype(int)

In [ ]:
C = C.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# จำนวนเมฆ

## เลย

In [ ]:
clound_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
clound_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_lei['จังหวัด'] = 'เลย'
clound_lei['เดือน'] =clound_lei['เดือน/ปี'].dt.month
clound_lei['ปี'] = clound_lei['เดือน/ปี'].dt.year
clounda_lei = clound_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
clounda_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,10,2011,8,10,10,9,8,10,...,2,1,1,2,4,2,3,3,1,2
2,เลย,353301-เลย สกษ. จ.เลย,11,2011,2,1,2,1,1,1,...,6,6,4,0,1,2,2,5,3,-
3,เลย,353301-เลย สกษ. จ.เลย,12,2011,1,3,1,3,3,2,...,3,3,1,1,0,0,1,1,4,1

## สกลนคร

In [ ]:
clound_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
clound_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_skn['จังหวัด'] = 'สกลนคร'
clound_skn['เดือน'] = clound_skn['เดือน/ปี'].dt.month
clound_skn['ปี'] = clound_skn['เดือน/ปี'].dt.year
clounda_skn = clound_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
clounda_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,9,9,7,7,9,10,...,1,2,1,2,1,1,3,3,1,4
2,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,2,0,0,1,3,7,...,6,4,3,1,1,1,1,1,0,-
3,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,1,2,2,2,6,...,3,3,2,-,0,0,0,0,1,-

## นครพนม

In [ ]:
clound_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
clound_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_npm['จังหวัด'] = 'นครพนม'
clound_npm['เดือน'] = clound_npm['เดือน/ปี'].dt.month
clound_npm['ปี'] = clound_npm['เดือน/ปี'].dt.year
clounda_npm = clound_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
clounda_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,10,7,8,8,10,10,...,2,2,2,2,2,3,3,4,2,4
2,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,3,5,7,...,4,4,4,4,2,2,2,1,1,-
3,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,2,2,2,4,4,7,...,4,4,2,2,2,2,1,2,1,1

## หนองคาย

In [ ]:
clound_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
clound_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_nki['จังหวัด'] = 'หนองคาย'
clound_nki['เดือน'] =clound_nki['เดือน/ปี'].dt.month
clound_nki['ปี'] = clound_nki['เดือน/ปี'].dt.year
clounda_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
clounda_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [ ]:
clound_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
clound_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
clound_kkn['จังหวัด'] = 'ขอนแก่น'
clound_kkn['เดือน'] = clound_kkn['เดือน/ปี'].dt.month
clound_kkn['ปี'] = clound_kkn['เดือน/ปี'].dt.year
clounda_kn = clound_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
clounda_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,9,10,10,8,10,10,...,3,2,3,5,3,3,5,4,2,2
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,2,3,6,...,5,6,6,3,2,2,1,3,2,-
3,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,2,3,4,4,5,8,...,4,5,5,3,3,1,2,1,1,1

# รวมจังหวัด จำนวนเมฆ

In [ ]:
all_province_clound = pd.concat([clounda_lei,clounda_skn, clounda_npm, clounda_nk, clounda_kn])

In [ ]:
D = pd.melt(all_province_clound,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='จำนวนเมฆ')

In [ ]:
D['วันที่'] = D['วันที่'].astype(int)

In [ ]:
D = D.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

#  ปริมาณฝน

## เลย

In [ ]:
rain_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
rain_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_lei['จังหวัด'] = 'เลย'
rain_lei['เดือน'] =rain_lei['เดือน/ปี'].dt.month
rain_lei['ปี'] = rain_lei['เดือน/ปี'].dt.year
raina_lei = rain_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
raina_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,21.6,111.4,0.4,0,0,3.4,...,0,0,0,0,0,0,0.2,0,0,0
2,เลย,353201-เลย จ.เลย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0.6,0,0,-
3,เลย,353201-เลย จ.เลย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## สกลนคร

In [ ]:
rain_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
rain_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_skn['จังหวัด'] = 'สกลนคร'
rain_skn['เดือน'] = rain_skn['เดือน/ปี'].dt.month
rain_skn['ปี'] = rain_skn['เดือน/ปี'].dt.year
raina_skn = rain_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
raina_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,84.8,28.1,0,T,5.5,0.3,...,0,0,0,0,0,0,0,1,0,0
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,0,0,0,0,T,T,...,0,0,0,0,0,0,0,0,0,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## นครพนม

In [ ]:
rain_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
rain_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_npm['จังหวัด'] = 'นครพนม'
rain_npm['เดือน'] = rain_npm['เดือน/ปี'].dt.month
rain_npm['ปี'] = rain_npm['เดือน/ปี'].dt.year
raina_npm =rain_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
raina_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,17,0.3,0,0.3,1.9,T,...,0,0,0,0,0,0,0,0,0,0
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,0,0,0,0,T,T,...,T,0,0,0,0,0.5,0,0,0,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## หนองคาย

In [ ]:
rain_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
rain_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_nki['จังหวัด'] = 'หนองคาย'
rain_nki['เดือน'] =clound_nki['เดือน/ปี'].dt.month
rain_nki['ปี'] = clound_nki['เดือน/ปี'].dt.year
raina_nk = wind_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
raina_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
2,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
3,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

## ขอนแก่น

In [ ]:
rain_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
rain_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
rain_kkn['จังหวัด'] = 'ขอนแก่น'
rain_kkn['เดือน'] = rain_kkn['เดือน/ปี'].dt.month
rain_kkn['ปี'] = rain_kkn['เดือน/ปี'].dt.year
raina_kn = rain_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
raina_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1.4,17.7,3,0,2.2,0.5,...,0,0,0,T,0,0.5,1.1,0,0,0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# รวมจังหวัด ปริมาณฝน

In [ ]:
all_province_rain = pd.concat([raina_lei,raina_skn, raina_npm, raina_nk, raina_kn])

In [ ]:
E = pd.melt(all_province_rain,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ปริมาณฝน')

In [ ]:
E['วันที่'] = E['วันที่'].astype(int)

In [ ]:
E =E.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# อุณหภูมิจุดน้ำค้าง

## เลย

In [ ]:
dew_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dew_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_lei['จังหวัด'] = 'เลย'
dew_lei['เดือน'] =dew_lei['เดือน/ปี'].dt.month
dew_lei['ปี'] = dew_lei['เดือน/ปี'].dt.year
dewp_lei = dew_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dewp_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,23.6,23.5,21.9,21.9,21.8,21.6,...,21.0,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2
2,เลย,353201-เลย จ.เลย,11,2011,20.1,19.5,19.5,19.1,19.5,20.5,...,20.0,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-
3,เลย,353201-เลย จ.เลย,12,2011,18.0,16.6,15.0,14.6,15.3,16.7,...,15.9,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5

## สกลนคร

In [ ]:
dew_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dew_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_skn['จังหวัด'] = 'สกลนคร'
dew_skn['เดือน'] = dew_skn['เดือน/ปี'].dt.month
dew_skn['ปี'] = dew_skn['เดือน/ปี'].dt.year
dewp_skn = dew_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dewp_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,24.5,23.6,21.1,20.0,21.2,20.8,...,19.3,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,19.6,19.4,19.5,20.0,20.9,21.4,...,20.3,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,18.0,14.0,12.3,14.1,15.7,18.1,...,16.0,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5

## นครพนม

In [ ]:
dew_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dew_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_npm['จังหวัด'] = 'นครพนม'
dew_npm['เดือน'] = dew_npm['เดือน/ปี'].dt.month
dew_npm['ปี'] = dew_npm['เดือน/ปี'].dt.year
dewp_npm = dew_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dewp_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.1,23.1,20.1,18.9,20.7,21.1,...,19.4,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,19.2,18.8,19.1,19.8,20.3,20.9,...,20.2,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,17.6,12.7,12.2,14.1,16.0,18.5,...,15.7,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7

## หนองคาย

In [ ]:
dew_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dew_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_nki['จังหวัด'] = 'หนองคาย'
dew_nki['เดือน'] =dew_nki['เดือน/ปี'].dt.month
dew_nki['ปี'] = dew_nki['เดือน/ปี'].dt.year
dewp_nk =dew_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dewp_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,24.6,23.8,22.4,21.9,23.3,22.0,...,21.1,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,19.3,19.0,18.7,19.1,20.2,20.7,...,19.0,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,18.4,15.5,14.4,14.6,15.6,17.7,...,15.5,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7

## ขอนแก่น

In [ ]:
dew_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dew_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dew_kkn['จังหวัด'] = 'ขอนแก่น'
dew_kkn['เดือน'] = dew_kkn['เดือน/ปี'].dt.month
dew_kkn['ปี'] = dew_kkn['เดือน/ปี'].dt.year
dewp_kn = dew_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dewp_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.2,24.0,22.9,21.9,21.7,21.3,...,20.8,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.2,18.5,19.4,19.0,19.2,20.6,...,20.1,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,17.7,15.3,12.7,14.0,14.6,16.6,...,16.2,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3

# รวมจังหวัด อุณหภูมิจุดน้ำค้าง

In [ ]:
all_province_dew = pd.concat([dewp_lei, dewp_skn, dewp_npm, dewp_nk, dewp_kn])

In [ ]:
F = pd.melt(all_province_dew,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิจุดน้ำค้าง')

In [ ]:
F['วันที่'] = F['วันที่'].astype(int)

In [ ]:
F =F.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

In [ ]:
F

,จังหวัด,สถานี,เดือน,ปี,วันที่,อุณหภูมิจุดน้ำค้าง
215,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1,24.2
485,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,2,24.0
755,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,3,22.9
1025,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,4,21.9
1295,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,5,21.7
...,...,...,...,...,...,...
7069,เลย,353201-เลย จ.เลย,2,2021,27,13.8
7339,เลย,353201-เลย จ.เลย,2,2021,28,15.2
7609,เลย,353201-เลย จ.เลย,2,2021,29,-
7879,เลย,353201-เลย จ.เลย,2,2021,30,-
8149,เลย,353201-เลย จ.เลย,2,2021,31,-

# ตุ้มแห้ง

## เลย

In [ ]:
dry_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
dry_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_lei['จังหวัด'] = 'เลย'
dry_lei['เดือน'] =dry_lei['เดือน/ปี'].dt.month
dry_lei['ปี'] = dry_lei['เดือน/ปี'].dt.year
dryw_lei = dry_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dryw_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,26.3,25.1,24.4,25.2,25.6,23.7,...,25.7,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8
2,เลย,353201-เลย จ.เลย,11,2011,25.3,24.7,24.5,24.4,24.9,25.4,...,25.5,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-
3,เลย,353201-เลย จ.เลย,12,2011,23.9,22.9,21.0,20.9,22.3,21.6,...,21.3,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2

## สกลนคร

In [ ]:
dry_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
dry_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_skn['จังหวัด'] = 'สกลนคร'
dry_skn['เดือน'] = dry_skn['เดือน/ปี'].dt.month
dry_skn['ปี'] = dry_skn['เดือน/ปี'].dt.year
dryw_skn = dry_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dryw_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,26.9,25.9,25.7,25.2,23.6,23.5,...,25.8,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,25.7,25.5,25.5,26.1,26.7,27.8,...,26.0,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,25.4,22.4,19.9,21.0,22.0,23.5,...,22.7,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3

## นครพนม

In [ ]:
dry_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
dry_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_npm['จังหวัด'] = 'นครพนม'
dry_npm['เดือน'] = dry_npm['เดือน/ปี'].dt.month
dry_npm['ปี'] = dry_npm['เดือน/ปี'].dt.year
dryw_npm = dry_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dryw_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.9,26.1,25.3,24.7,23.1,23.2,...,26.4,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,25.8,25.8,25.5,26.8,26.5,27.8,...,26.0,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,25.4,22.1,20.4,21.3,22.6,23.1,...,22.8,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9

## หนองคาย

In [ ]:
dry_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
dry_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_nki['จังหวัด'] = 'หนองคาย'
dry_nki['เดือน'] =dew_nki['เดือน/ปี'].dt.month
dry_nki['ปี'] = dew_nki['เดือน/ปี'].dt.year
dryw_nk =dew_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dryw_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,24.6,23.8,22.4,21.9,23.3,22.0,...,21.1,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,19.3,19.0,18.7,19.1,20.2,20.7,...,19.0,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,18.4,15.5,14.4,14.6,15.6,17.7,...,15.5,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7

## ขอนแก่น

In [ ]:
dry_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
dry_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
dry_kkn['จังหวัด'] = 'ขอนแก่น'
dry_kkn['เดือน'] = dew_kkn['เดือน/ปี'].dt.month
dry_kkn['ปี'] = dew_kkn['เดือน/ปี'].dt.year
dryw_kn = dew_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
dryw_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.2,24.0,22.9,21.9,21.7,21.3,...,20.8,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.2,18.5,19.4,19.0,19.2,20.6,...,20.1,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,17.7,15.3,12.7,14.0,14.6,16.6,...,16.2,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3

# รวมจังหวัด ตุ้มแห้ง

In [ ]:
all_province_dry = pd.concat([dryw_lei, dryw_skn, dryw_npm, dryw_nk, dryw_kn])

In [ ]:
G = pd.melt(all_province_dry,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิตุ้มแห้ง')

In [ ]:
G['วันที่'] = G['วันที่'].astype(int)

In [ ]:
G = G.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

 # อุณหภูมิต่ำสุด

## เลย

In [ ]:
low_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
low_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_lei['จังหวัด'] = 'เลย'
low_lei['เดือน'] =low_lei['เดือน/ปี'].dt.month
low_lei['ปี'] = low_lei['เดือน/ปี'].dt.year
lowt_lei = low_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_lei.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353201-เลย จ.เลย,10,2011,23.5,24.3,22.5,23.0,22.7,23.2,...,21.0,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5
2,เลย,353201-เลย จ.เลย,11,2011,20.7,19.9,19.1,19.0,19.5,19.8,...,20.5,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-
3,เลย,353201-เลย จ.เลย,12,2011,18,19.6,15.5,14.4,17.1,15.5,...,15.0,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4

## สกลนคร

In [ ]:
low_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',skiprows=3).drop(0, axis=0)
low_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_skn['จังหวัด'] = 'สกลนคร'
low_skn['เดือน'] = low_skn['เดือน/ปี'].dt.month
low_skn['ปี'] = low_skn['เดือน/ปี'].dt.year
lowt_skn = low_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_skn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,24.5,23.1,22.6,21.8,22.5,21.1,...,21.1,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7
2,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,20.5,20.5,20.4,20.6,21.5,24.0,...,22.0,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,19.5,19.3,14.0,15.3,15.8,18.0,...,17.3,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17

## นครพนม

In [ ]:
low_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
low_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_npm['จังหวัด'] = 'นครพนม'
low_npm['เดือน'] = low_npm['เดือน/ปี'].dt.month
low_npm['ปี'] = low_npm['เดือน/ปี'].dt.year
lowt_npm = low_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.0,23.4,22.2,20.6,21.1,21.0,...,21,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21
2,นครพนม,357201-นครพนม จ.นครพนม,11,2011,20.4,20.5,19.7,20.6,21.3,23.7,...,21.5,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-
3,นครพนม,357201-นครพนม จ.นครพนม,12,2011,19.4,19.8,14.1,14.5,15,18.1,...,17.7,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8

## หนองคาย

In [ ]:
low_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
low_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_nki['จังหวัด'] = 'หนองคาย'
low_nki['เดือน'] = low_nki['เดือน/ปี'].dt.month
low_nki['ปี'] = low_nki['เดือน/ปี'].dt.year
lowt_nk =low_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,25.3,23.3,23.6,23.8,23.3,22.0,...,22.7,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,21.2,21.4,21.0,21.3,22.0,22.6,...,22.0,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,20.0,20.1,15.0,15.5,17.2,18.8,...,17.2,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5

## ขอนแก่น

In [ ]:
low_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
low_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']
low_kkn['จังหวัด'] = 'ขอนแก่น'
low_kkn['เดือน'] = low_kkn['เดือน/ปี'].dt.month
low_kkn['ปี'] = low_kkn['เดือน/ปี'].dt.year
lowt_kn = low_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
lowt_kn.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.8,23.0,22.1,22.8,23.1,21.7,...,21.6,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.7,20.4,20.5,20.9,20.6,22.2,...,21.4,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,19.3,18.9,15.4,15.6,16.3,20.2,...,17.6,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17

# รวมจังหวัด อุณหภูมิต่ำสุด

In [ ]:
all_province_low = pd.concat([lowt_lei, lowt_skn, lowt_npm, lowt_nk, lowt_kn])

In [ ]:
H = pd.melt(all_province_low,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='อุณหภูมิต่ำสุด')

In [ ]:
H['วันที่'] = H['วันที่'].astype(int)

In [ ]:
H = H.sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

# รวมตารางทั้งหมด

In [ ]:
total = pd.concat([A,B,C,D,E,F,G,H], axis=1)

In [ ]:
total.columns.duplicated()

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True, False])

In [ ]:
total = total.loc[:, ~total.columns.duplicated()]

In [ ]:
total .sort_values(by=['จังหวัด','ปี','เดือน','วันที่'])

,จังหวัด,สถานี,เดือน,ปี,วันที่,ความกด,ความชื้น,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตุ้มแห้ง,อุณหภูมิต่ำสุด
220,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,83.0,3,9,1.4,21.3,21.3,24.8
495,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,92.0,2,10,17.7,23.8,23.8,23.0
770,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,86.0,3,10,3,22.4,22.4,22.1
1045,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,4,1008.28,80.0,2,8,0,24.2,24.2,22.8
1320,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,5,1009.88,86.0,2,10,2.2,24.1,24.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7204,เลย,352201-หนองคาย จ.หนองคาย,2,2022,27,1014.97,74.0,1,3,0,13.9,13.9,15.0
7479,เลย,352201-หนองคาย จ.หนองคาย,2,2022,28,1012.88,72.0,1,2,0,16.3,16.3,17.6
7754,เลย,352201-หนองคาย จ.หนองคาย,2,2022,29,-,-,-,-,-,19.6,19.6,-
8029,เลย,352201-หนองคาย จ.หนองคาย,2,2022,30,-,-,-,-,-,-,-,-
8304,เลย,352201-หนองคาย จ.หนองคาย,2,2022,31,-,-,-,-,-,-,-,-